@charset "UTF-8";

.clearfix:after{
  display: block; 
  content: "";
  clear: both;
}

.q4_box {
  padding: 20px;
  background-color: #ecf1f2;
}

.q4_contents_cell {
  display: table;
  margin-top: 20px;
  width: 100%;
  box-sizing: border-box;
  text-align: center;
}

.q4_contents_cell:first-child{
  margin-top: 0;
}

.q4_cell  {
  display: table-cell;
  padding: 20px;
}

.q4_contents_orange_cell{
  width: 100px;
  background-color: #fdc8b8;
}

.q4_contents_pink_cell{
  background-color: #e0abd9;
}

.q4_contents_blue_cell{
  background-color: #b6d8ed;
  width: 100px;
}

.q4_contents_yellow_cell{
  background-color: #e5d32e;
}

.q4_contents_red_cell{
  background-color: #ec8f9a;
}

.q4_contents_green_cell{
  background-color: #8fdcad;
  width: 500px;
}


/* 回答はここに書いてね */

/* 回答はここに書いてね */
